<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675531863525-5b6fd5ouc3pej6q0bsap003mdsqh4mbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675531863525-5b6fd5ouc3pej6q0bsap003mdsqh4mbe</string>
	<key>API_KEY</key>
	<string>AIzaSyCDX9UBjnPUchpZGWNX_WF17CaFZat71bo</string>
	<key>GCM_SENDER_ID</key>
	<string>675531863525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuukisakai.SecretMessage</string>
	<key>PROJECT_ID</key>
	<string>whatsup-clone-f042a</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsup-clone-f042a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675531863525:ios:d3f56456b16a1dd92f6b0c</string>
	<key>DATABASE_URL</key>
	<string>https://whatsup-clone-f042a.firebaseio.com</string>
</dict>
</plist>